body {
    text-align: center;
}
.color_plate{
    height: 280px;
    width: 500px;
    border: none;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0px 4px 10px rgb(67, 66, 66);
    border-radius: 2cap;
    
}
h1{
    font-family: 'Luckiest Guy';
    font-size: 80px;
    font-weight: 1;
    color: blueviolet;
    
}

button {
    height: 90px;
    width: 200px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: skyblue;
    border-radius: 10cap;
    color: white;
    font-weight: 500;
    border: none;
    box-shadow: 0px 8px 20px rgb(202, 99, 99);
    transform: 0.5em;
    
}
button:hover{
    box-shadow: 0px 8px 20px rgb(201, 251, 0);
}

button:active{
    transform: translateY(5px);
}

p{
    font-size: x-large;
}